@using TaleonLtd.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"]  @GlobalConstants.SystemName</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="images/20210104_185744.jpg" />
    <!-- Place favicon.ico in the root directory -->
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />

</head>
<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
    <!-- ========================= header start ========================= -->
    <header class="header navbar-area">
        <!-- Toolbar Start -->
        <div class="toolbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-9 col-12">
                        <div class="toolbar-contact">
                            <p><i class="lni lni-envelope"></i><a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></p>
                            <p><i class="lni lni-phone"></i><a href="tel:+34 642883243">+34 642883243</a></p>
                            <a asp-controller="Contacts" asp-action="ShowLocation"><i class="lni lni-map-marker"></i> Location South Ockendon,Uk</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <div class="toolbar-sl-share">
                            <ul>
                                <li><a href="https://www.facebook.com/Taleon-Ltd-104046218297766"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-pinterest"></i></a></li>
                                <li><a href="#"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar End -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="Index.html">
                                <img src="/images/20210104_185744.jpg" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="page-scroll active" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="about-us.html">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="javascript:void(0)">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="javascript:void(0)">Portfolio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Pages</a>
                                        <ul class="sub-menu collapse" id="submenu-1-1">
                                            <li class="nav-item"><a href="about-us.html">About Us</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="javascript:void(0)">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="javascript:void(0)">Contact</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="button">
                                <a href="javascript:void(0)" class="btn white-bg mouse-dir">Get a Quote <span class="dir-part"></span></a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

    </header>
    <!-- ========================= header end ========================= -->



    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo.svg" alt="#"></a>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry.
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-behance-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-5 col-md-7 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-6">
                                <!-- Single Widget -->
                                <div class="single-footer f-link">
                                    <h3>Company</h3>
                                    <ul>
                                        <li><a href="#">About Comapny</a></li>
                                        <li><a href="#">World Wide Clients</a></li>
                                        <li><a href="#">Happy People’s</a></li>
                                        <li><a href="#">Winning Awards</a></li>
                                        <li><a href="#">Company Statics</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-6">
                                <!-- Single Widget -->
                                <div class="single-footer f-contact f-link">
                                    <h3>Contact Us</h3>
                                    <p>Untrammelled & nothing preven our being able</p>
                                    <ul class="footer-contact">
                                        <li><i class="lni lni-phone"></i> <a href="#">+012 (345) 6789</a></li>
                                        <li>
                                            <i class="lni lni-envelope"></i> <a href="mailto:support@gmail.com">support@gmail.com</a>
                                        </li>
                                        <li><i class="lni lni-map-marker"></i> Broklyn Street USA</li>
                                        <li><i class="lni lni-world"></i> <a href="#">www.yoursite.com</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer gallery">
                            <h3>Instagram Feed</h3>
                            <ul class="list">
                                <li>
                                    <a href="#">
                                        <img src="images/gallery1.jpg" alt="#"><i class="lni lni-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/gallery2.jpg" alt="#"><i class="lni lni-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/gallery3.jpg" alt="#"><i class="lni lni-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/gallery4.jpg" alt="#"><i class="lni lni-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/gallery5.jpg" alt="#"><i class="lni lni-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/gallery6.jpg" alt="#"><i class="lni lni-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="left">
                                <p>
                                    Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                                                target="_blank">GrayGrids</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="right">
                                <p>All Right Reserved Design By Bizfinity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/count-up.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/tiny-slider.js"></script>
    <script src="~/js/glightbox.min.js"></script>
    <script src="~/js/imagesloaded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/main.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });

        //======== Testimonial Slider
        //var slider = new tns({
        //    container: '.testimonial-slider',
        //    slideby: 'page',
        //    autoplay: false,
        //    mousedrag: true,
        //    gutter: 0,
        //    items: 1,
        //    nav: true,
        //    controls: false,
        //    controlstext: [
        //        '<i class="lni lni-arrow-left prev"></i>',
        //        '<i class="lni lni-arrow-right next"></i>'
        //    ],
        //    responsive: {
        //        1200: {
        //            items: 2,
        //        },
        //        992: {
        //            items: 1,
        //        },
        //        0: {
        //            items: 1,
        //        }

        //    }
        //});

        //============== isotope masonry js with imagesloaded
        imagesLoaded('#container', function () {
            var elem = document.querySelector('.grid');
            var iso = new Isotope(elem, {
                // options
                itemSelector: '.grid-item',
                masonry: {
                    // use outer width of grid-sizer for columnWidth
                    columnWidth: '.grid-item'
                }
            });

            let filterButtons = document.querySelectorAll('.portfolio-btn-wrapper button');
            filterButtons.forEach(e =>
                e.addEventListener('click', () => {

                    let filterValue = event.target.getAttribute('data-filter');
                    iso.arrange({
                        filter: filterValue
                    });
                })
            );
        });
    </script>


</body>
</html>
