
<div class="head">
    <div class="container">
        <div class="title">
            <h1>sign up now!</h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <form>
            <div class="first">
                <label for="first">first name:</label>
                <div class="clear"></div>
                <input type="text" name="first name" id="first" placeholder="enter first name" required>
            </div>
            <div class="last">
                <label for="last">last name:</label>
                <div class="clear"></div>
                <input type="text" name="last name" id="last" placeholder="enter last name" required>
            </div>
            <div class="email">
                <label for="email">e-mail:</label>
                <div class="clear"></div>
                <input type="email" name="email" id="email" placeholder="enter email" required>
            </div>
            <div class="pass">
                <label for="pass">password:</label>
                <div class="clear"></div>
                <input type="password" name="pass" id="pass" placeholder="enter password" required>
            </div>
            <div class="cpass">
                <label for="Cpass">confirm password:</label>
                <div class="clear"></div>
                <input type="password" name="pass" id="Cpass" placeholder="enter again password" required>
            </div>
            <div class="submit">
                <input type="submit" value="sign up">
            </div>
        </form>
    </div>
</div>

