
  

    <!-- Start Hero Area -->
    <section class="hero-slider">
        <!-- Single Slider -->
        <div class="single-slider">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 co-12">
                        <div class="home-slider">
                            <div class="hero-text">
                                <span class="small-title wow fadeInUp" data-wow-delay=".3s">Business Solution</span>
                                <h1 class="wow fadeInUp" data-wow-delay=".5s"><span>We Provide Quality</span><br>
                                    Consulting Services</h1>
                                <p class="wow fadeInUp" data-wow-delay=".7s">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
                                    <br>dummy text ever since.</p>
                                <div class="button wow fadeInUp" data-wow-delay=".9s">
                                    <a href="about-us.html" class="btn mouse-dir">Discover More <span
                                            class="dir-part"></span></a>
                                </div>
                            </div>
                            <div class="hero-text">
                                <span class="small-title">Business Solution</span>
                                <h1><span>We Provide Quality</span><br> Consulting Services</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                    Ipsum has been the industry's standard <br>dummy text ever since.</p>
                                <div class="button">
                                    <a href="about-us.html" class="btn mouse-dir">Discover More <span
                                            class="dir-part"></span></a>
                                </div>
                            </div>
                            <div class="hero-text">
                                <span class="small-title">Business Solution</span>
                                <h1><span>We Provide Quality</span><br> Consulting Services</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                    Ipsum has been the industry's standard <br>dummy text ever since.</p>
                                <div class="button">
                                    <a href="about-us.html" class="btn mouse-dir">Discover More <span
                                            class="dir-part"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Hero Area -->

    <!-- Start Features Area -->
    <section class="Features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                        <div class="watch-inner">
                            <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                                <a href="https://www.youtube.com/watch?v=BqI0Q7e4kbk" class="glightbox video"><i
                                        class="lni lni-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="feature-content">
                        <div class="title">
                            <span class="wow fadeInRight" data-wow-delay=".3s">Our Introduction</span>
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">Consulting Market <br> Leader Experts</h3>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="feature-thumb">
                                <i class="lni lni-bar-chart"></i>
                            </div>
                            <div class="banner-content">
                                <h2 class="title">Grow Your Business With US</h2>
                                <p>Lorem ipsum dolor sit amet, diam felis maecenas lectus ac, volutpat arcu, urna ac.
                                    Vivamus dignissim sapien amet vivamu</p>
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                            <div class="feature-thumb">
                                <i class="lni lni-checkmark-circle"></i>
                            </div>
                            <div class="banner-content">
                                <h2 class="title">Fast Loan Approval</h2>
                                <p>Lorem ipsum dolor sit amet, diam felis maecenas lectus ac, volutpat arcu, urna ac.
                                    Vivamus dignissim sapien amet vivamu</p>
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
                            <div class="feature-thumb">
                                <i class="lni lni-support"></i>
                            </div>
                            <div class="banner-content">
                                <h2 class="title">Life Time Support</h2>
                                <p>Lorem ipsum dolor sit amet, diam felis maecenas lectus ac, volutpat arcu, urna ac.
                                    Vivamus dignissim sapien amet vivamu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Services</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="serial">
                            <span><i class="lni lni-code"></i></span>
                        </div>
                        <h3><a href="service-single.html">Web Solution</a></h3>
                        <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                        <div class="serial">
                            <span><i class="lni lni-vector"></i></span>
                        </div>
                        <h3><a href="service-single.html">Graphics Design</a></h3>
                        <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                        <div class="serial">
                            <span><i class="lni lni-ux"></i></span>
                        </div>
                        <h3><a href="service-single.html">Ui/Ux Design</a></h3>
                        <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                        <div class="serial">
                            <span><i class="lni lni-keyword-research"></i></span>
                        </div>
                        <h3><a href="service-single.html">Strategy & Research</a></h3>
                        <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                        <div class="serial">
                            <span><i class="lni lni-seo"></i></span>
                        </div>
                        <h3><a href="service-single.html">SEO & Marketing</a></h3>
                        <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".7s">
                        <div class="serial">
                            <span><i class="lni lni-bar-chart"></i></span>
                        </div>
                        <h3><a href="service-single.html">Growth Tracking</a></h3>
                        <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Services Area -->

    <section class="section free-version-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-7">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Bizfinity
                            Free Lite</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">You are using
                            free lite version of Bizfinity</h2>
                        <p class="text-white wow fadeInUp" data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Please,
                            purchase full version of the template to get all pages, features and commercial license</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-5">
                    <div class="contact-btn text-right text-lg-right button wow fadeInRight" data-wow-delay=".8s">
                        <a href="https://rebrand.ly/bizfinity-gg" rel="nofollow" class="btn mouse-dir">Purchase Now
                            <span class="dir-part"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing Table -->
    <section id="pricing" class="pricing-table section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Pricing Table</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Pricing Plan</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".3s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Basic <span>for small business</span></h4>
                            <div class="price">
                                <p class="amount"><span class="curency">$</span>29<span class="duration">/mo</span></p>
                            </div>
                        </div>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>3 Users</li>
                            <li>Unlimited Projects</li>
                            <li>Download Prototypes</li>
                        </ul>
                        <div class="button">
                            <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                        </div>
                        <!-- Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".5s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Standard <span>for companies</span></h4>
                            <div class="price">
                                <p class="amount"><span class="curency">$</span>59<span class="duration">/mo</span></p>
                            </div>
                        </div>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>5 Users</li>
                            <li>Unlimited Projects</li>
                            <li>Download Prototypes</li>
                        </ul>
                        <div class="button">
                            <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                        </div>
                        <!-- Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".7s">
                        <p class="popular">Popular</p>
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Professonal <span>for small business</span></h4>
                            <div class="price">
                                <p class="amount"><span class="curency">$</span>79<span class="duration">/mo</span></p>
                            </div>
                        </div>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>8 Users</li>
                            <li>Unlimited Projects</li>
                            <li>Download Prototypes</li>
                        </ul>
                        <div class="button">
                            <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                        </div>
                        <!-- Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp" data-wow-delay=".9s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Most Popular <span>for small business</span></h4>
                            <div class="price">
                                <p class="amount"><span class="curency">$</span>99<span class="duration">/mo</span></p>
                            </div>
                        </div>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>10 Users</li>
                            <li>Unlimited Projects</li>
                            <li>Download Prototypes</li>
                        </ul>
                        <div class="button">
                            <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                        </div>
                        <!-- Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Pricing Table -->

    <!-- Start Clients Area -->
    <section class="client-logo-section">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="client-logo">
                        <img src="images/client1.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client2.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client3.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client4.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client5.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client2.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client3.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client4.png" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="images/client5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Clients Area -->

    <!-- Start Newsletter Area -->
    <section class="newsletter section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <!-- Start Newsletter Form -->
                    <div class="subscribe-text wow fadeInLeft" data-wow-delay=".3s">
                        <h6>Sign up for Newsletter</h6>
                        <p class="">Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu,<br> homero alterum.</p>
                    </div>
                    <!-- End Newsletter Form -->
                </div>
                <div class="col-lg-6 col-12">
                    <!-- Start Newsletter Form -->
                    <div class="subscribe-form wow fadeInRight" data-wow-delay=".5s">
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" class="common-input"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                                required="" type="email">
                            <div class="button">
                                <button class="btn mouse-dir white-bg">Subscribe Now! <span
                                        class="dir-part"></span></button>
                            </div>
                        </form>
                    </div>
                    <!-- End Newsletter Form -->
                </div>
            </div>
        </div>
    </section>
    <!-- /End Newsletter Area -->

   
